* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

:root {
    --container-width: 76.5rem;
    --color-cold-white: #f0f5ff;
    --color-blue: hsla(219, 89%, 58%, 1);
    --color-gray: hsla(220, 21%, 52%, 1);
    --color-white: hsla(220, 100%, 97%, 1);
    --color-emerald: hsla(171, 65%, 45%, 1);
    --color-medium-blue: hsla(215, 36%, 15%, 1);
    --color-coral-red: #bb2854;
    --color-dark-gray: #283547;
    --color-dark-blue: #101823;
    --color-medium-white: hsla(220, 38%, 75%, 1);
    --color-medium-gray: hsla(215, 24%, 32%, 1);
    --color-semi-gray: hsla(217, 26%, 17%, 1);
    --color-semidark-gray: hsla(216, 28%, 14%, 1);
    --color-light-gray: #5a6170;
}

.container {
    width: var(--container-width);
    margin: 0 auto;
}

body {
    background-color: var(--color-cold-white);
}

h2 {
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}
