.problems {
    background-color: var(--color-dark-blue);
    border-radius: 6.25rem;
    padding: 4.875rem 0 9.625rem 0;
}
.problems h2 {
    color: var(--color-white);
}

.problems__content {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
}
.problems__category {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.problems__title {
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--color-emerald);
}

.problems__list {
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    width: 100%;
}

.problems__list-item {
    display: flex;
    flex-direction: column;
    gap: 1.375rem;
    text-decoration: none;
}

.problems__list-item:hover p {
    color: var(--color-medium-white);
}

.problems__list-item:hover hr {
    background-color: var(--color-emerald);
}

.problems__list-item:hover .circle__path-icon {
    color: var(--color-medium-gray);
}

.problems__list-item:hover .arrow__path-icon {
    color: var(--color-medium-white);
}

.problems__list-item hr {
    background-color: var(--color-dark-gray);
    height: 1px;
    border: none;
}

.problems__info {
    display: flex;
    gap: 9.75rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-gray);
}

.problems__item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circle__path-icon {
    color: var(--color-dark-gray);
}

.arrow__path-icon {
    color: var(--color-gray);
}

.full__path-icon {
    flex-shrink: 0;
}

@media screen and (max-width: 1224px) {
    .problems {
        border-radius: 1rem;
        padding: 1.75rem 0 3.375rem 0;
    }

    .problems__category h3 {
        font-size: 1.125rem;
        font-weight: 600;
    }
    .problems__info {
        font-size: 1rem;
        font-weight: 600;
        gap: 2.5rem;
    }
    .problems__arrow {
        width: 2.25rem;
        height: 2.25rem;
    }

    .full__path-icon {
        height: 36px;
        width: 36px;
    }
}
