.rules {
    background-color: var(--color-dark-blue);
    border-radius: 6.25rem;
    color: var(--color-cold-white);
    padding-block: 4.875rem 7.875rem;
}
.rules__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.rules__topicCard {
    background-image: url("/rules.png");
    background-size: cover;
    background-position: center;
    display: flex;
    gap: 1.75rem;
    padding: 3.625rem 2.75rem;
    border-radius: 1rem;
    align-items: start;
}
.rules__topicCard-text {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}
.rules__topicCard h3 {
    font-size: 2.25rem;
    font-family: 700;
}
.rules__topicCard p {
    font-size: 1.5rem;
    font-family: 600;
    width: 100%;
    max-width: 56rem;
}
.rules__list {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}
.accordion-item__content {
    cursor: pointer;
    align-items: center;

    gap: 74px;
    overflow: hidden;
    /* background-color: var(--color-semidark-gray); */
    border-radius: 1.25rem;
}
.accordion-item {
    display: flex;
    gap: 74px;
    align-items: start;
}
.accordion {
    align-items: center;
    gap: 74px;
    display: flex;
}

.accordion__description {
    max-height: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    overflow: hidden;
    padding-block: 0;
    transition:
        max-height 0.5s ease-in-out,
        padding 0.5s ease-in-out;
}

.accordion__wrapper {
    background-color: var(--color-semidark-gray);
    width: 100%;
}
.accordion__description-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-inline: 2.75rem;
    background-color: var(--color-semidark-gray);
    height: 100%;
    width: 100%;
    border-radius: 0 0 1.25rem 1.25rem;
}
.accordion__content {
    display: flex;
    width: 100%;
    border-radius: 1.25rem;
    justify-content: space-between;
    font-size: 1.25rem;
    align-items: center;
    padding: 1.8rem 2.75rem;
    background-color: var(--color-semi-gray);
}

.accordion-item__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.rules__item-title {
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--color-cold-white);
}

.accordion_link-button {
    background-color: var(--color-blue);
    color: var(--color-cold-white);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding-block: 30px;
    border-radius: 1.25rem;
    cursor: pointer;
}

.accordion__title-number {
    color: var(--color-gray);
    font-weight: 600;
    font-size: 32px;
}

.rotated {
    transform: rotate(90deg);
}

.acordion__button {
    transition: transform 0.3s ease-in-out;
    background: none;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    background-color: var(--color-dark-gray);
}

.accordion__description-item {
    display: flex;
    width: 100%;
    color: var(--color-gray);
    gap: 2.875rem;
}
.description__item-icon {
    width: fit-content;
    height: fit-content;
}

.accordion__additional {
    color: var(--color-gray);
}

.text__emerald {
    color: var(--color-emerald);
}

.accordion__description-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (max-width: 1224px) {
    .rules {
        border-radius: 1rem;
        padding-block: 1.75rem 2.875rem;
    }

    .rules__content {
        gap: 1.75rem;
    }

    .rules__topicCard {
        gap: 0.75rem;
        padding: 1.25rem 1.25rem;
        border-radius: 0.625rem;
    }
    .rules__topicCard h3 {
        font-size: 1.125rem;
    }
    .rules__topicCard p {
        font-size: 0.75rem;
    }

    .rules__topicCard img {
        width: 1.125rem;
        height: 1.375rem;
    }
    .rules__list {
        gap: 1.5rem;
    }
    .rules__list-item {
        border-radius: 0.625rem;
    }
    .accordion {
        align-items: center;
        padding: 1.375rem 2.75rem;
        background-color: var(--color-semi-gray);
    }
    .rules__item-title {
        font-weight: 600;
        font-size: 1.125rem;
        color: var(--color-cold-white);
    }
    .acordion__button {
        width: 36px;
        height: 36px;
    }
    .accordion__description {
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
        padding-inline: 2.75rem;
        transition: padding 0.3s ease-in-out;
        background-color: var(--color-semidark-gray);
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        font-size: 0.75rem;
        font-weight: 400;
    }
    .description__item-icon {
        width: 0.625rem;
    }
    .accordion__description-item {
        display: flex;
        max-width: 30.625rem;
        gap: 1.25rem;
    }
}
