.services {
    padding: 4.125rem 7.125rem;
}
.services__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.services__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.services__list-item {
    display: flex;
    justify-content: space-between;
}

.services__list-item:nth-child(2) {
    flex-direction: row-reverse;
}

.services__list-item:nth-child(4) {
    flex-direction: row-reverse;
}

.services__list-item img,
.services__item-info {
    max-width: 37.5rem;
    object-fit: cover;
    border-radius: 1rem;
}

.services__item-info {
    display: flex;
    flex-direction: column;
    gap: 3.875rem;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 80px 70px;
}

.services__item-text {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.services__item-text h3 {
    font-size: 2.25rem;
    font-weight: 700;
}

.services__item-text p {
    font-size: 1.5rem;
    font-weight: 400;
}

.services__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    height: 5.625rem;
    border-radius: 1rem;
}

.services__item-buttonsContainer{
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 100%;
}

.services__modal-description{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    gap: 20px;
}



@media screen and (max-width: 1224px) {

    .services__modal-description{
        gap: 10px;
    }

    .services__content {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
    .services__list {
        display: flex;
        flex-direction: column;
        gap: 1.875rem;
    }
    .services__list-item {
        flex-direction: column;
        gap: 0;
        justify-content: center;
    }
    .services__list-item:nth-child(2) {
        flex-direction: column;
    }

    .services__list-item:nth-child(4) {
        flex-direction: column;
    }

    .services__list-item img {
        max-width: 37.5rem;
        height: 13rem;
        object-fit: cover;

        border-radius: 1rem 1rem 0 0;
    }
    .services__item-info {
        max-width: 37.5rem;
        height: 100%;
        gap: 2rem;
        padding: 1rem 22px;
        border-radius: 0 0 1rem 1rem;
    }
    .services__item-link {
        font-size: 0.875rem;
        font-weight: 700;
        width: 100%;
        border-radius: 1rem;
        height: 3.75rem;
    }

    .services__item-text p {
        font-size: 0.75rem;
        font-weight: 600;
    }

    .services__item-text h3 {
        font-size: 1.125rem;
        font-weight: 700;
    }

    .services {
        padding: 2rem 0;
    }
}
